# folders
node_modules
build

# hardhat folders
cache
artifacts
typechain

# ignore .env files
.env

# yarn
yarn-error.log

# openzeppelin
.openzeppelin/dev-*.json
.openzeppelin/unknown-31337.json
.openzeppelin/.session